@import 'vue-phone-number-input/dist/vue-phone-number-input.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: auto !important;
}

.vue-phone-number-input .select-country-container {
  flex: 0 0 95px !important;
  min-width: 95px !important;
  max-width: 95px !important;
  width: 95px !important;
}

.text-capitalize input[type="text"] {
  text-transform: capitalize;
}

.text-uppercase input[type="text"] {
  text-transform: uppercase;
}

i.theme--light.v-icon {
  color: #00353f;
}

i.v-icon.fa-xs {
  font-size: 0.75em;
  line-height: 0.08333em;
  vertical-align: 0.125em;
}

i.v-icon.fa-sm {
  font-size: 0.875em;
  line-height: 0.07143em;
  vertical-align: 0.05357em;
}

i.v-icon.fa-md,
button.v-icon.fa-md {
  font-size: 1em;
  line-height: 0.6em;
  vertical-align: -0.01em;
}

i.v-icon.fa-lg {
  font-size: 1.25em;
  line-height: 0.05em;
  vertical-align: -0.075em;
}

@font-face {
  font-family: 'Neon';
  src: local('Neon'), url(~/assets/font/Neon.ttf) format('truetype');
}

.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.width-45p {
  width: 45%;
}

.input-tel.input-phone-number > input,
.country-selector.input-country-selector > input {
  height: 48px;
}
